body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.home {
    position: absolute;
    top: 20%;
    left: 5%;
    text-align: center;
    margin-right: 60px;
    margin-left: 60px;
}
 
.pagination li {
    padding: 10px 15px;
    margin-left: 20px;
}

.pagination li.active {
    background: black;
    color: white;
}

.pagination li:hover {
    background: black;
    color: white;
}

.pagination li:hover a {
    color: white;
}

.pagination >* {
    vertical-align: middle;
    display: inline;
}

.ptitle {
    margin-top: 5px;
    margin-right: 7px;
}

.home {
    background-color: rgba(191, 191, 191, 0.4);
    padding: 60px;
}

.homeBackground {
    background: url('Porsche.jpg') no-repeat center fixed;
    overflow: hidden !important;
    background-size: cover;
    background-repeat: no-repeat;
}
